* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	font-size: 16px;
	background-color: hsl(356, 100%, 66%);
	background-image: url(./img/bg-pattern-intro-mobile.svg);
	background-size: 400%;
	background-repeat: no-repeat;
	background-position: center center;
}
body::-webkit-scrollbar {
	display: none;
}
h1 {
	font-family: 'Overpass', sans-serif;
	font-size: 600;
}
p {
	font-family: 'Overpass', sans-serif;
	font-weight: 300;
}
button, a {
	font-size: 1rem;
	font-family: 'Overpass', sans-serif;
	font-weight: 600;
}
.container {
	padding: 3em 1em;
}
@media only screen and (min-width: 1024px) {
	body {
		background-image: url(./img/bg-pattern-intro-mobile.svg);
	}
}